name: Tests

on:
  - push
  - pull_request

env:
  CARGO_TERM_COLOR: always

jobs:
  build-oldest:
    name: build oldest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@1.49.0
      # since we don't check in the lock file we specify 1.8.2 here for rust 1.49 compatibility
      - run: cargo update -p indexmap --precise 1.8.2
      - run: cargo build --verbose --features c-example --manifest-path membrane/Cargo.toml
  build-stable:
    name: build and test stable
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: dtolnay/rust-toolchain@stable
    - uses: dart-lang/setup-dart@v1

    - name: Update apt
      run: sudo apt-get update

    - name: Install libclang
      run: sudo apt-get install -y libclang-dev

    - name: Rust tests
      run: cargo test --verbose --features c-example

    - name: Rust build workspace
      run: cargo build --verbose

    - name: Rust build example
      working-directory: ./example
      run: cargo build --verbose

    - name: Rust generate Dart example
      working-directory: ./example
      run: cargo run

    - name: Dart run example
      working-directory: ./dart_example
      run: |
        dart compile exe -D --enable-asserts bin/dart_example.dart
        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:"$(pwd)/../example/target/debug/"
        ./bin/dart_example.exe
