name: Tests

on:
  - push
  - pull_request

env:
  CARGO_TERM_COLOR: always

jobs:
  build-oldest:
    name: build oldest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@1.61.0
      - run: cargo build --verbose --features c-example --manifest-path membrane/Cargo.toml
  build-stable:
    name: build and test stable
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: dtolnay/rust-toolchain@stable
    - uses: dart-lang/setup-dart@v1

    - name: Update apt
      run: sudo apt-get update

    - name: Install libclang
      run: sudo apt-get install -y libclang-dev

    - name: Rust tests
      run: cargo test --verbose --features c-example

    - name: Rust build workspace
      run: cargo build --verbose

    - name: Rust build example
      working-directory: ./example
      run: cargo build --verbose

    - name: Rust generate Dart example
      working-directory: ./example
      run: cargo run

    - name: Dart run example
      working-directory: ./dart_example
      run: |
        dart compile exe -D --enable-asserts bin/dart_example.dart
        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:"$(pwd)/../example/target/debug/"
        ./bin/dart_example.exe

    - name: Compile web
      working-directory: ./dart_example
      run: dart compile js -o example.js bin/dart_example.dart

    - name: Compile on aarch64
      uses: uraimo/run-on-arch-action@v2
      with:
        arch: aarch64
        distro: ubuntu22.04
        githubToken: ${{ github.token }}
        dockerRunArgs: |
          --volume "${PWD}:/membrane"
        install: |
          apt-get update -q -y
          apt-get install -q -y curl build-essential
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        run: |
          cd /membrane
          ~/.cargo/bin/cargo build
