name: Valgrind Memory Check

on:
  - push
  - pull_request

env:
  CARGO_TERM_COLOR: always

jobs:
  valgrind:
    name: valgrind
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: dart-lang/setup-dart@v1
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install libclang
      run: sudo apt-get install -y libclang-dev

    - name: Rust build example
      working-directory: ./example
      run: cargo build --verbose

    - name: Rust generate Dart example
      working-directory: ./example
      run: cargo run

    - name: Dart compile example
      working-directory: ./dart_example
      run: dart compile exe -D --enable-asserts bin/dart_example.dart

    - name: Test binary via Valgrind
      working-directory: ./dart_example
      run: |
        sudo apt install -y valgrind
        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:"$(pwd)/../example/target/debug/"
        ../.github/workflows/valgrind.py ./bin/dart_example.exe
